:root {
  --primary-font: "Roboto";
  --primary-cl: #111111;
  --secondary-cl: #fafafa;
  --light-cl: #fff;
  --dark-cl: #1e1823;
  --accent-cl: #fd9222;
}

/* Region Base */
body {
  font-family: var(--primary-font), sans-serif;
  background-color: #fafafa;
  color: #111111;
  font-size: 14px;
}

ul,
ol {
  list-style: none;
}
address {
  font-style: normal;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  font-family: inherit;
  color: currentColor;
  cursor: pointer;
}

.logo {
}

.logo-accent {
}
